@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;

}

/* For fonts */

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
body{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: black;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes slideInRight {
  from {
    transform: translateX(40%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideInRight {
  animation: slideInRight 0.25s ease forwards;
}

/* Admin Dashboard Design */

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 90px;
}

@keyframes slideLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-showcase {
  display: flex;
  width: max-content;
  animation: slideLeft 40s linear infinite; /* Shomoy ektu bariye smooth kora hoyeche */
}

/* Duipashe shundor gradient mask */
.mask-gradient {
  mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
}